@mixin googleFonts($font) {
  @import url(https://fonts.googleapis.com/css2?family=#{$font}:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
}
//FONTS
@include googleFonts("Hind+Vadodara");

/*VARIABLES*/
:root {
  /*COLOR*/
  --white: #ffffff;
  --black: #000000;
  --lightRed: #f87217;
  --mainGreen: #97dbca;
  --lightGreen: #c2f7e8;
  --realGreen: #00c090;
  /*TEXT CONFIGURATION*/
  --general-font: "Hind Vadodara", sans-serif;
  --body-font-size: 1rem;
  --body-highlight-font-size: 1.25rem;
  --body-font-weight: 400;
  --body-highlight-font-weight: 600;
  --body-line-height: 1.5rem;
  --body-highlight-line-height: 1.5rem;
  --header-font-size: 3rem;
  --header-font-weight: 800;
  --header-line-height: 5rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--general-font);
  position: relative;
}

button {
  width: 150px;
  height: 40px;
  border: solid 2px var(--mainGreen);
  border-radius: 0.625rem;
  font-size: var(--body-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-line-height);
  padding: 0.5rem;
  text-align: center;
  background-color: var(--white);
  cursor: pointer;

  &:hover {
    border: solid 2px var(--lightRed);
    box-shadow: inset 0px 0px 0 2px var(--lightRed);
  }

  &:disabled {
    border: solid 2px var(--lightGreen);
  }
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 0.625rem;
  box-shadow: inset 0px 0px 0 4px var(--lightGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 180%;
    height: 50%;
    transform: rotate(45deg);
    background: var(--realGreen);
  }

  &:hover::before {
    animation: animateBorder 1s linear;
    animation-fill-mode: backwards;
  }

  &::after {
    position: absolute;
    content: "";
    inset: 4px;
    background: var(--white);
  }
}

@keyframes animateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.button span {
  font-size: var(--body-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-line-height);
  z-index: 10;
}

.buttonSelected {
  box-shadow: inset 0px 0px 0 4px var(--realGreen);
}

.buttonDisabled {
  cursor: not-allowed;
}

%styleContainer {
  border: solid 3px var(--mainGreen);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleContenair {
  @extend %styleContainer;
  box-shadow: inset 0px 0px 0 10px var(--white),
    inset 0px 0px 0 11.5px var(--mainGreen);
}

h1 {
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  line-height: var(--header-line-height);
  background: linear-gradient(to top, var(--realGreen), var(--lightGreen));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.manga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booksContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.changeMangaChoice {
  border: none;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    font-style: italic;
    border: none;
    box-shadow: none;
  }
}

.challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameContenair {
  @extend %styleContainer;
  box-shadow: inset 0px 0px 0 10px var(--white),
    inset 0px 0px 0 0.5px var(--mainGreen);
}

.instructionGeneral,
.instructionManga,
.instructionChallenge {
  font-size: var(--body-highlight-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: 2rem;
  text-align: center;
  width: 40%;
}

.instructionChallenge p {
  margin-top: 5rem;
}

.challengeChoices {
  margin-top: 2rem;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--body-font-size);
}

.picturesContener {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
}

.picture {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#rojiPicture,
#ichikoEtNikoPicture,
#fukunekoPicture {
  width: 150%;
  left: -25%;
}

.subject {
  font-family: var(--general-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-highlight-line-height);
  border: solid 3px var(--mainGreen);
  border-radius: 1.25rem;
  width: 72%;
  margin-top: 8rem;
  margin-bottom: 2.125rem;
  text-align: center;
  padding: 0.5rem;
}

.animationDoubleBorder {
  animation-name: doubleBorder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes doubleBorder {
  0% {
    box-shadow: inset 0px 0px 0 3px var(--mainGreen);
  }
  25% {
    box-shadow: inset 0px 0px 0 0px transparent;
  }
}

.animationTextSlide {
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    margin-left: -200px;
  }
}

.inputPlayerContenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
}

%inputUserStyle {
  border: solid 1.5px var(--mainGreen);
  border-radius: 1.25rem;
  width: 100%;
  padding: 0.5rem;
}

.response {
  @extend %inputUserStyle;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  width: 10%;
  margin-top: -3%;
}

.response input {
  @extend %inputUserStyle;
  font-family: sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-highlight-line-height);
}

#validation {
  border-radius: 1.25rem;
  width: 24%;
  margin-top: 2.125rem;
  background-color: var(--mainGreen);
  font-family: var(--general-font);
}

.scoreContenair {
  font-size: var(--body-highlight-font-size);
  font-family: var(--general-font);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 36%;
  padding: 1.5rem;
  background-color: var(--mainGreen);
  border-radius: 1.25rem;
  box-shadow: inset 0px 0px 0 3px var(--mainGreen),
    inset 0px 0px 0 10.5px var(--white);
}

.modal {
  font-size: var(--body-highlight-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 40%;
  height: 36%;
  padding: 1.5rem;
  background-color: var(--mainGreen);
  border-radius: 1.25rem;
  box-shadow: inset 0px 0px 0 3px var(--mainGreen),
    inset 0px 0px 0 10.5px var(--white);
  position: absolute;
  top: 40%;
  z-index: 2;
}

.scoreInstructionButton {
  display: none;
  background-color: var(--lightRed);
  border: none;
  margin-top: 2.125rem;
}

.modal p {
  color: var(--lightRed);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-highlight-line-height);
  margin: 0.4rem 0 0.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  /* VARIABLES */
  :root {
    --body-font-size: 0.7rem;
    --body-highlight-font-size: 1rem;
    --header-font-size: 1.688rem;
    --header-line-height: 1.5rem;
  }

  .titleContenair {
    width: 85%;
    margin-top: 0.2rem;
  }

  h1 {
    padding: 1rem;
  }

  .booksContener {
    width: 85%;
    gap: 0.5rem;
  }

  .gameContenair {
    width: 85%;
  }

  .instruction p {
    font-size: 1rem;
    width: 85%;
    line-height: 1.2rem;
  }

  .choices {
    margin-top: 16px;
  }

  .subject {
    width: 85%;
  }

  .picturesContener {
    margin-top: 0rem;
  }

  .inputPlayerContenair {
    width: 85%;
  }

  .arrow {
    padding: 0.2rem;
  }

  .scoreContenair {
    margin-top: 1rem;
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  .challengeChoices {
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .picturesContener {
    margin-top: 0.5rem;
  }

  .subject {
    margin-top: 2.5rem;
  }

  #validation {
    padding-right: 2.8rem;
  }
}
