@import url(https://fonts.googleapis.com/css2?family=Hind+Vadodara:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*VARIABLES*/
:root {
  /*COLOR*/
  --white: #ffffff;
  --black: #000000;
  --lightRed: #f87217;
  --paleRed: #fcd6bc;
  --mainGreen: #98dccb;
  --lightGreen: #c2f7e8;
  --realGreen: #00c090;
  /*TEXT CONFIGURATION*/
  --general-font: "Hind Vadodara", sans-serif;
  --body-font-size: 1rem;
  --body-highlight-font-size: 1.25rem;
  --body-font-weight: 400;
  --body-highlight-font-weight: 600;
  --body-line-height: 1.5rem;
  --body-highlight-line-height: 1.5rem;
  --header-font-size: 3rem;
  --header-font-weight: 800;
  --header-line-height: 5rem;
}

body {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--general-font);
  position: relative;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 0.625rem;
  box-shadow: inset 0px 0px 0 4px var(--lightGreen);
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button::before {
  position: absolute;
  content: "";
  width: 180%;
  height: 50%;
  transform: rotate(45deg);
  background: var(--realGreen);
}
button:hover::before {
  animation: animateBorder 1s linear;
  animation-fill-mode: backwards;
}
button::after {
  position: absolute;
  content: "";
  inset: 4px;
  background: var(--white);
}
button:disabled {
  border: solid 2px var(--lightGreen);
}

@keyframes animateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
button span {
  font-size: var(--body-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-line-height);
  z-index: 10;
}

.buttonSelected {
  box-shadow: inset 0px 0px 0 4px var(--realGreen);
  color: var(--realGreen);
}

.buttonDisabled {
  cursor: not-allowed;
}

.gameContenair, .titleContenair {
  border: solid 3px var(--mainGreen);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
}

.copyContainer, .gamePlace, .challenge, .manga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.titleContenair {
  box-shadow: inset 0px 0px 0 10px var(--white), inset 0px 0px 0 11.5px var(--mainGreen);
}

h1 {
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  line-height: var(--header-line-height);
  background: linear-gradient(to top, var(--realGreen), var(--lightGreen));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.instructionGeneral {
  margin: 1rem;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameContenair {
  box-shadow: inset 0px 0px 0 10px var(--white), inset 0px 0px 0 0.5px var(--mainGreen);
}

.instruction {
  font-size: var(--body-highlight-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: 2rem;
  text-align: center;
}

.underlineInstruction {
  position: relative;
}
.underlineInstruction::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -6px;
  background-color: var(--lightRed);
  transform: scale(0);
  transition: transform 1s ease;
}
.underlineInstruction.underlineAnimation::before {
  transform: scale(1);
}

.booksContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.changeMangaChoice {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.changeMangaChoice:hover {
  font-style: italic;
  border: none;
  box-shadow: none;
}

.instructionChallenge {
  margin-top: 5rem;
}

.challengeChoices {
  margin-top: 2rem;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--body-font-size);
}

.picturesContener {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.picture {
  width: 100%;
  position: absolute;
  top: 0;
  left: -20%;
  bottom: 0;
  right: 0;
  margin: auto;
}

#rojiPicture,
#ichikoEtNikoPicture,
#fukunekoPicture {
  width: 150%;
  left: -25%;
}

.gamePlace {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.copyContainer {
  width: 70%;
}

.subject {
  font-family: var(--general-font);
  font-size: var(--body-font-size);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-highlight-line-height);
  border: solid 3px var(--mainGreen);
  border-radius: 1.25rem;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.animationDoubleBorder {
  animation-name: doubleBorder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes doubleBorder {
  0% {
    box-shadow: inset 0px 0px 0 3px var(--mainGreen);
  }
  25% {
    box-shadow: inset 0px 0px 0 0px transparent;
  }
}
.animationTextSlide {
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    margin-left: -200px;
  }
}
.inputPlayerContenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.response input, .response {
  border: solid 1.5px var(--mainGreen);
  border-radius: 1.25rem;
  width: 100%;
  padding: 0.5rem;
}

.response {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  width: 10%;
  margin-top: -3%;
}

.response input {
  font-family: sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-highlight-line-height);
}

.validation {
  box-shadow: inset 0px 0px 0 4px var(--paleRed);
  font-family: var(--general-font);
  margin-top: 2rem;
  transition: box-shadow 300ms ease;
}
.validation.validationAnimation {
  box-shadow: inset 0px 0px 0 4px var(--lightRed);
}
.validation::before {
  background: var(--lightRed);
}
.validation::after {
  background: var(--paleRed);
}

.modal {
  font-size: var(--body-highlight-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 40%;
  height: 40%;
  padding: 1.5rem;
  background-color: var(--mainGreen);
  border-radius: 1.25rem;
  box-shadow: inset 0px 0px 0 3px var(--mainGreen), inset 0px 0px 0 10.5px var(--white);
  position: absolute;
  top: 30%;
  z-index: 12;
}

.scoreInstructionButton {
  display: none;
}

.modal p {
  color: var(--lightRed);
  font-weight: var(--body-highlight-font-weight);
  line-height: var(--body-highlight-line-height);
  margin: 0.4rem 0 0.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 11;
}

.hidden {
  display: none;
}

@media (max-width: 1366px) {
  .titleContenair {
    width: 70%;
  }
  .instructionChallenge {
    margin-top: 1.5rem;
  }
  .gameContenair {
    width: 70%;
  }
  .challengeChoices {
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .picturesContener {
    margin-top: 9rem;
    width: 25%;
  }
  .gamePlace {
    margin-top: 9rem;
  }
  .copyContainer {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  /* VARIABLES */
  .titleContenair {
    width: 85%;
    margin-top: 0.2rem;
  }
  .gameContenair {
    width: 85%;
  }
  .instructionChallenge {
    margin-top: 1.5rem;
  }
  .challengeChoices {
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .picturesContener {
    margin-top: 7.5rem;
    width: 25%;
  }
  .gamePlace {
    margin-top: 8rem;
  }
  .copyContainer {
    width: 90%;
  }
}
@media (max-width: 620px) {
  .instructionChallenge {
    margin-top: 1.5rem;
  }
  .picturesContener {
    margin-top: 8rem;
    width: 50%;
  }
  .gamePlace {
    margin-top: 6rem;
  }
  .copyContainer {
    width: 100%;
  }
  .subject {
    margin-top: 1.5rem;
  }
  .response {
    margin-top: -2rem;
  }
}
@media (max-width: 540px) {
  .picturesContener {
    margin-top: 8rem;
    width: 40%;
  }
  .copyContainer {
    width: 90%;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 344px) {
  .titleContenair {
    width: 80%;
    margin-top: 0.2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .gameContenair {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
